@media only screen and (max-width: 600px) {

    #navbarNav {
        height: 290px;
    }

    #logo-link {
        margin: 0rem !important;
        padding: 0rem !important;
    }

    .nav-item {
        justify-content: center;
    }

    #main-container {
        padding-top: 69px !important;
    }
    #company-logo {
        padding: 0rem 0rem 0rem 0.5rem;
        width: 250px !important;
        height: 65px !important;
    }

    #burger-button {
        margin-top: 10px;
        margin-right: 55px;
    }

    #parent-div {
        height: 360px !important;
    }

    #dynamic-navbar {
        padding-bottom: 5px !important;
        background-color: rgba(244, 237, 231, 0.85) !important;
        position: fixed !important;
    }

    #ul-for-nav-buttons {
        width: 100%;
    }
}

@media only screen and (min-width: 650px) {

    #main-container {
        padding-top: 136px;
    }

    #company-logo {
        width: 300px;
        height: 72px;
        margin: 2rem 0rem;
    }

    #dynamic-navbar {
        position: sticky;
    }

    #button-list-item {
        width: 220px;
    }

    #ul-for-nav-buttons {
        width: 750px;
    }
    
    a.nav-link:hover {
        color: rgb(94, 26, 26) !important;
    }
}

.apply-now-btn {
    /*background-image: linear-gradient(to right, #b4332dff 20%, #ff0000 190%);*/
    background-color: #b4332dff !important;
    box-shadow: 3px 4px 10px 3px gray;
}

#apply-now-text {
    color: white;
}

/* #apply-now-text:hover {
    background-image: linear-gradient(to right, #b4332dff 20%, #ff0000 190%);
} */

.apply-now-btn:hover {
    background-color: burlywood !important;
}